body {
  background-color: white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a:hover {
  cursor: pointer;
}
/* @media only screen and (max-width: 600){
  /* I am going to have to write this later i'm focusing on animations */


.logo {
  margin: 0 auto 4% 2.5rem;
  z-index: 100;
  max-width: 400px;
  margin-right: 0;
}
.logo span {
  width: 500px;
}
.logo a {
  color: #7E7E7E !important;
  text-decoration: none;
  text-align: left;
  font-size: 25px;
  letter-spacing:1px;
  font-family: 'Krub', sans-serif;
  font-weight: 900;
}
.innovatemargin{
  margin: 20% auto 10% auto;
}

.innovate {
  color: #7E7E7E;
  text-align: left;
  font-size: 250px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-top: 0%;
  z-index: 100;
  height: 200px;
}
.innovate span{
  height: 200px;
}
h2 {
  color: #7E7E7E;
  text-align: left;
  font-size: 170px;
  line-height: 160px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: auto auto 0% 2.5rem;
}
h3 {
  color: #7E7E7E;
  text-align: left;
  font-size: 80px;
  margin: 5% auto auto 49%;
  font-family: 'Lato', sans-serif;
}
h4 {
  color: #7E7E7E;
  text-align: left;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0%;
}
h5 {
  color: #7E7E7E;
  text-align: left;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0%;
}
.connect {
  color: #7E7E7E;
  text-align: left;
  font-size: 170px;
  line-height: 120px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: auto auto 0% 2.5rem;
}
.smallmarg {
  margin: 10px auto 10px auto;
}
.scrollnav {
  width: 700px;
  float: right;
  margin: 20% 2.5rem 35% auto;
}
.post img {
  vertical-align: right;
  float:right;
  width:25px;
  height:25px;
  margin-right: 15px;
}
.post a {
  display: inline;
  color: #7E7E7E;
  font-size: 22px;
  text-decoration: none;
  font-family: 'Krub', sans-serif;
  transition: 0.3s;
}

.post a:hover {
  color: green;
}

.info {
  color: #7E7E7E;
  font-size: 20px;
  font-family: 'Krub', sans-serif;
  width: 600px;
  margin: 2% auto 20% 49%;
}
.skills {
  color: #7E7E7E;
  font-size: 20px;
  font-family: 'Krub', sans-serif;
  list-style-type: none;
  padding-left: 1px;;
}
.skillscolumn {
  float: left;
  width: 31%;
  margin-right: 3%;
}
.skillscolumn2 {
  float: left;
  width: 30%;
  margin-left: 1%;
}
.floatleft {
  float: left;
}
.scroll {
  font-family: 'Krub', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #7E7E7E;
  margin: 6% 0 10% 0;
}
.textcenter { 
  text-align: center;
}
.marginleft { 
  margin-left: 2.5rem;
}
.marginright { 
  margin: auto 0 1% 49%;
}
.copyright {
  display: inline-block;
  font-family: 'Krub', sans-serif;
  font-size: 12px;
  color: #7E7E7E;
}
#nav-icon3 span:nth-child(2) {
  top: 10px !important;
}
#nav-icon3 span:nth-child(3) {
  top: 10px !important;
}
#nav-icon3 span:nth-child(4) {
  top: 20px !important;
}
.centeredContainer {
  text-align: center;
}
.resume {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #7E7E7E;
  margin-left: 36px;
}
.right {
  float: right;
  margin-right: 2.5rem;
  margin-top: 5%;
}
.left {
  margin-left: 2.5rem;
}

.worktitleright {
  display: inline-block;
}
.workimage img{
  float:right;
  padding-left: 10%;
}
.worktitleleft{
  padding-top: 225px;
}

.workcolumn {
  float: left;
  width: 40%;
  padding: 10px;
}
.workrow{
margin-left: 2.5rem;
}

.workrow:after {
  content: "";
  display: table;
  clear: both;
}
.height {
  height: 550px;
}
.linkedin {
  padding-left: 20px;
}
.button {
  border: 1px solid #7E7E7E;
  background-color: transparent;
  color: #7E7E7E;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  margin-top: 2%;
}
.button:hover {
  background-color: #8697A3;
  border: 1px solid #8697A3;
  color: white;
}
.button:active { 
  border: 1px solid #8697A3;
  color: #8697A3;
}
.front {
  position: relative;
  z-index: 100;
}
.mid {
  position: relative;
  z-index: 90;
}
.icon:hover,
.icon:focus {
  filter: invert(69%) sepia(13%) saturate(387%) hue-rotate(162deg) brightness(84%) contrast(90%);
}
.blob {
  top: 24%;
  left: 16%;
  position: absolute;
  width: 100%;
}
.blob2 {
  top: 250%;
  left: 16%;
  position: absolute;
  width: 100%;
}
.blob3 {
  top: 350%;
  left: 16%;
  position: absolute;
  width: 100%;
}
.blob4 {
  top: 450%;
  left: 16%;
  position: absolute;
  width: 100%;
}
.column {
  float: left;
  width: 33.33%;
  margin-right: -150px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.center {
  display: flex;
  align-items: center;
  left: 50%;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  justify-content: center;
}
.menuColor {
 background-color: #E4E2DC;
}
.footer {
  width: 100%;
  margin-bottom: 100px;
  padding-top: 140px;
}
.verticalAlign {
  float: left;
  margin-left: 3%;
  margin-top: 50px;
  width: 500px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0px;
  background-color: #E4E2DC;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 200px;
}

.sidenav a {
  padding: 0px 0px 10px 60px;
  text-decoration: none;
  font-size: 28px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
  font-family: 'Krub', sans-serif;
  line-height: 40px;
}

.sidenav a:hover {
  color: #3D3D3D;
}

.sidenav .closebtn {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 36px;
}

#nav-icon3 {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 4rem 2.5rem 0 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #7E7E7E;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

span {
  color: #7E7E7E;
  text-align: left;
  font-size: 80px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;

}